{% extends "web_site/base.html" %}

{% block content %}
<div class="container-fluid">

    <div class="row py-3 gy-5">
        <div class="col-sm-3 col-md-2">
            <ul class="list-group shadow-2 rounded">
                <a class="rounded-top" href="{% url 'feed_page' category_name %}">
                    <li class="list-group-item text-center">
                        Feed
                    </li>
                </a>
                <a href="{% url 'blogs_page' category_name %}">
                    <li class="list-group-item text-center">
                        Blogs
                    </li>
                </a>
                <a class="rounded-bottom" href="{% url 'code_gists_page' category_name %}">
                    <li class="list-group-item text-center">
                        Gists
                    </li>
                </a>
            </ul>
            <a class="rounded my-3 shadow-2 w-full btn btn-outline-primary" href="{% url 'create_blog' category_name %}">
                Write an article
            </a>
        </div>

        <div class="col-md-10">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            <h3 class="pt-3">Articles</h3>
            {% for blog in blogs %}
            <a href="{% url 'view_blog' blog.id %}">
                <div class="card shadow-2 my-5">
                    <div class="card-body">
                        <h6 class="my-2">{{blog.title}}</h6>
                        <p>@{{blog.author}}</p>
                        <p>{{blog.description}}</p>
                    </div>
                </div>
            </a>
            {% endfor%}
        </div>
    </div>
</div>
{% endblock %}