{% extends "web_site/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row py-3 gy-5">
        <div class="col-sm-3 col-md-2">
            <ul class="list-group shadow-2 rounded">
                <a class="rounded-top" href="{% url 'feed_page' category_name %}">
                    <li class="list-group-item text-center">
                        Feed
                    </li>
                </a>
                <a href="{% url 'blogs_page' category_name %}">
                    <li class="list-group-item text-center">
                        Articles
                    </li>
                </a>
                <a class="rounded-bottom" href="{% url 'code_gists_page' category_name %}">
                    <li class="list-group-item text-center">
                        CodeGists
                    </li>
                </a>
            </ul>
            <a class="rounded btn btn-outline-primary w-full mt-3" href="{% url 'create_gist' category_name %}">
                Create a Gist
            </a>
        </div>

        <div class="col-md-10">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            <h3 class="pt-3">CodeGists</h3>
            <div class="my-3">
                {% for gist in code_gists %}
                <div class="card shadow-3 my-2">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h5>{{gist.topic}}</h5>
                            </div>
                            <div>
                                <span class="badge bg-danger">
                                    {{gist.difficulty}}
                                </span>
                                <span class="badge bg-primary">
                                    {{gist.language}}
                                </span>
                            </div>
                        </div>
                        <div>
                            <p>@{{gist.author}}</p>
                        </div>
                        <div>
                            <p>{{gist.coding_platform}}</p>
                        </div>
                        <div>
                            <pre>{{gist.code_snippet}}</pre>
                        </div>
                        <div>
                            <a href="{% url 'view_code_gist' gist.id %}">Readmore...</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}