{% extends "web_site/base.html" %}

{% block content %}
<style>
    .hide{
        display: none;
    }
</style>
<div class="container">
    <div class="my-3">
        <span class="badge bg-primary">{{content.topic}}</span>
        <span class="badge bg-primary">{{content.language}}</span>
        <span class="badge bg-primary">{{content.difficulty}}</span>
    </div>
    <div class="tab-buttons d-flex align-items-center justify-content-start my-3">
        <div class="tab-button cursor-pointer badge text-dark">
            Code
        </div>
        <div class="tab-button cursor-pointer badge text-dark">
            Summary
        </div>
    </div>
    <hr>
    <div class="tabs">
        <div class="tab">
            <div id="codeContainer">
                <div id="code">
                    <pre><code>{{content.code_snippet}}</code></pre>
                </div>
            </div>
        </div>
        <div class="tab">
            <div id="gistContainer">
                <div id="codegist">
                    {{content.analogy}}
                </div>
            </div>
        </div>
    </div>
    <script>
        let converter = new showdown.Converter();
        converter.setFlavor('github');
        let markdownContent = document.getElementById("codegist");
        let result = converter.makeHtml(markdownContent.textContent.trim());
        markdownContent.innerHTML = converter.makeHtml(result);

        let activeIndex = 0;

        let lastIndex = -1;

        const tabButtons = document.querySelectorAll(".tab-button");
        const tabs = document.querySelectorAll(".tab");

        console.log("SETTING UP!");
        tabButtons[activeIndex].classList.add("bg-warning");
        for (let i = 0; i < tabs.length; i++) {
            if (i !== activeIndex) {
                tabs[i].classList.add("hide");
            }
        }

        tabButtons.forEach((tabButton, index) => {
            tabButton.addEventListener("click", function (e) {
                lastIndex = activeIndex;
                activeIndex = index;
                this.classList.add("bg-warning");
                tabButtons[lastIndex].classList.remove("bg-warning");
                tabs.forEach(tab => tab.classList.add("hide"));

                tabs[activeIndex].classList.remove("hide");
            })
        });


    </script>
</div>
{% endblock %}