{% extends "web_site/base.html" %}

{% block content %}
<style>
    .box{
        min-height: 100vh;
    }
</style>
<div class="container">
    <div>
        <a href="#codeContainer">code</a>
        <a href="#gistContainer">summary</a>
    </div>
    <div id="codeContainer" class="box">
        <label for="code" class="form-label">Code Snippet</label>
        <div id="code" class="border border-primary rounded">
            {{content.code_snippet}}
        </div>
    </div>
    <div id="gistContainer" class="box">
        <label for="codegist" class="form-label">Code Summary or Analogy</label>
        <div id="codegist" class="border border-primary rounded">
            {{content.analogy}}
        </div>
    </div>
    <script>
        let converter = new showdown.Converter();
        converter.setFlavor('github');
        let markdownContent = document.getElementById("codegist");
        let result = converter.makeHtml(markdownContent.textContent.trim());
        markdownContent.innerHTML = converter.makeHtml(result);
    </script>
</div>
{% endblock %}